<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <welcome-file-list>
    <welcome-file>pages.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UserLogout</display-name>
    <servlet-name>UserLogout</servlet-name>
    <servlet-class>com.shoe.controller.UserLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogout</servlet-name>
    <url-pattern>/UserLogout</url-pattern>
  </servlet-mapping>
</web-app>